@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

$blue: #172339;
$gray: #49566d;
$white: #f3ede7;
$indigo: #a060ff;
$pink: #cb30e3;
$orange: #ffa84e;