@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column !important;
  }
  .curved {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .text, .info {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  h1 {
    color: #49566d !important;
  }
  button {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .img {
    display: flex;
    justify-content: center;
  }
  .img img {
    position: static;
    left: -5% !important;
  }
}
@media screen and (max-width: 768px) {
  .info {
    position: static;
    margin-top: 2dvh !important;
  }
}
@media screen and (max-width: 768px) {
  .new-container {
    display: flex;
    flex-direction: column !important;
    margin-left: 2dvh !important;
    margin-right: 2dvh !important;
    margin-top: 3dvh !important;
    height: 80%;
  }
  .new-text {
    margin-left: 2dvh !important;
    text-align: center;
  }
  .picture {
    background-image: none !important;
  }
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1240px;
  margin: auto;
  margin-top: 7dvh;
}
.container .curved {
  position: absolute;
  right: 80%;
  top: 25dvh;
  z-index: 22;
}
.container .text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  z-index: 7;
}
.container .text h1 {
  font-size: 4rem;
  font-weight: 300;
  color: #172339;
}
.container .text span {
  font-weight: bold;
}
.container .text p {
  margin-top: 5dvh;
  color: #49566d;
  line-height: 2rem;
  font-size: 1.1rem;
}
.container .text button {
  height: 8dvh;
  width: 34dvh;
  margin-top: 7dvh;
  border-radius: 1dvh;
  border: solid 1px;
  font-weight: bold;
  transition: background 0.8s;
  color: #f3ede7;
  background-color: #172339;
}
.container .text button:hover {
  background: linear-gradient(135deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  color: #f3ede7;
}
.container img {
  position: relative;
  left: 123%;
  width: 100%;
  height: auto;
}
.container .info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  left: -10%;
  margin-top: 5dvh;
}
.container .info p {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 10dvh;
  color: #172339;
}
.container .info span {
  color: #49566d;
  margin-top: 3dvh;
  font-size: 1.2rem;
  font-weight: 300;
}

.new-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1240px;
  margin: auto;
  margin-left: 15dvh;
  margin-right: 15dvh;
  background-color: #172339;
  height: 80%;
  margin-top: 16dvh;
  border-radius: 3dvh;
  background-image: url("/pattern-curved-line-2.svg");
  background-repeat: no-repeat;
  background-position: 80dvh 22dvh;
}
.new-container div {
  flex: 1;
}
.new-container .picture {
  background-image: url("/image-jeremy-small.png");
  background-repeat: no-repeat;
  background-size: 50dvh;
  background-position-x: 20dvh;
}
.new-container .new-text {
  margin-left: 30dvh;
}
.new-container .new-text h2 {
  color: #f3ede7;
  font-size: 3.5rem;
  font-weight: 300;
  margin-top: 10dvh;
}
.new-container .new-text span {
  font-weight: bold;
}
.new-container .new-text p {
  color: #f3ede7;
  margin-top: 8dvh;
  line-height: 2rem;
  font-size: 1.2rem;
}
.new-container .new-text .name {
  font-weight: bold;
}
.new-container .new-text .occupation {
  margin-top: 1dvh;
}/*# sourceMappingURL=main.component.css.map */