<div class="container">
    <div class="curved">
        <img src="/pattern-curved-line-1.svg" alt="">
    </div>
    <div class="text">
        <h1>A
            <span>super solution</span><br>for your
            <span>business.</span>
        </h1>
        <p>Our marketing and sales automations<br>help you scale your outreach to get<br>more leads for your company.
        </p>
        <button>Request Beta Access</button>
    </div>
    <div class="img">
        <img src="/image-hero-portrait.png" alt="">
    </div>
    <div class="info">
        <p>2K+<br>
            <span>COMPANIES</span>
        </p>
        <p>8<br>
            <span>LANGUAGES</span>
        </p>
        <p>1.2M<br>
            <span>LEADS</span>
        </p>
    </div>
</div>
<div class="new-container">
    <div class="picture">

    </div>
    <div class="new-text">
        <h2>It just
            <span>works.</span>
        </h2>
        <p>“I really like how it is an all-in-one<br>solution that handle many of the<br>tasks that you would normally
            need<br>separate tools to do the same job.<br>This thing is a miracle worker.”</p>
        <p class="name">JEREMY ROBINSON</p>
        <p class="occupation">CMO, Fylo</p>
    </div>
</div>